@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.body-school{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/backgroundSchool.png);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-school{
    background: rgba(58, 79, 52, 0.9);
    backdrop-filter: blur(25px);    
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    min-height: fit-content;
    min-width:min-content;
    text-align: center;
    gap: 40px;
    position: relative;
}

.title-school h1{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 50px;
    margin: 0;
}

.go-div-school{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;

}

.gobutton-school{
    background-color: none;
    background: none;
    border-style: none;
    display: flex;
}

.buttons-school{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.question-school{
    background-color: #3C5237;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 30px;
    width: 90%;
    font-size: 25px;
    padding: 40px;
}

.question-school h2{
    margin: 0;
}


.input-school{
    border-radius: 30px;
    border-style: none;
    width: 100%;
    padding: 40px;
    font-size: 25px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

.input-school::placeholder{
    color:darkgray;
}

.div-input-school{
    display: flex;
    width: 100%;
}

.div-titleinfo{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.info-school{
    display: flex;
}

.title-school{
    display: flex;
}

.button-info-school{
    display: flex;
    background: none;
    border-style: none;
}