@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.body-cong{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/backgroundNature.png);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-cong{
    background: rgba(35, 63, 79, 0.54);
    backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    min-height: fit-content;
    min-width:min-content;
    text-align: center;
    gap: 20px;
    position: relative;
}

.title-cong h1{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 70px;
    margin: 0;
}

.text-cong{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    display: flex;
}

.text-cong-2{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    color: white;
    font-size: 35px;
}

.back-div-cong{
    display: flex;
    align-self: flex-start;
    background: none;
    background-color: none;
}
.go-div-cong{
    display: flex;
    align-self: flex-end;
}
